body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(22,22,22);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#vertical{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

h1{
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
}

button{
    border: none;
    border-radius: 15px;
    height: 50px;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    transition: 0.2s;
    background-color: RGB(83,24,23);
    color: white;
}

button:hover {
    background-color: white;
    color: black;
}

button:focus{
    outline: none;
}

input{
    display: none;
}